section{
    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: space-around;
}



.teste{
    width: 10vw;
    height: 10vw;
    margin: 10vh;
}

#um{
    background-color: rgb(227, 230, 232);
}

#do{
    background-color: rgb(28, 6, 41);
}

#tr{
    background-color: rgb(124, 0, 196);
}

#qu{
    background-color: rgb(176, 179, 184);
}

#cartaoBase{
    width: 29vw;
    height: 30vh;
    margin: 10vh;

    border-radius: 0.5vw;

    background-color: rgb(32, 32, 32);
}

#topo{
    width: 28vw;
    height: 8vh;

    padding: 1vh;

    display: flex;
    justify-content: space-between;

    #bolinhas{
        width: 10vw;

        display: flex;

        #bola1{
            width: 4vw;
            height: 4vw;

            border-radius: 50%;

            background-color: rgb(176, 179, 184);
        }

        #bola2{
            width: 2vw;
            height: 2vw;

            border-radius: 50%;

            background-color: rgb(176, 179, 184);
        }
    }

    #nomeBanco{
        margin-top: -1vh;

        color: rgb(176, 179, 184);
    }
}

#meinho{
    width: 28vw;
    height: 6vh;

    padding: 1vh;

    display: flex;
    justify-content: space-between;
    color: rgb(176, 179, 184);

    #chipAntena{
        width: 12vw;
        display: flex;
        align-items: center;

        #chip{
            width: 3vw;
            height: 4vh;

            margin: 0vh 1vh;

            background-color: rgb(176, 179, 184);
        }

        #antena{
            width: 1vw;
            height: 2vh;
            background-color: rgb(176, 179, 184);
        }
    }
    
}
#numeros{
    width: 28vw;
    height: 4vh;

    padding: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;

    #numeroCartao{
        color: rgb(176, 179, 184);
    }

    #valid{
        height: 4vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 1vh;

        .txtvalid{
            color: rgb(176, 179, 184);
            font-size: 2vh;
            margin: -0.5vh;
            margin-left: 4vw;
        }
    }

}

#nomeN{
    height: 5vh;
    
    color: rgb(176, 179, 184);

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px), (max-height: 882px) {

}

/* dev functions*/

#traporte{
    width: 10vw;
    height: 7vh;

    background-color: red;
}