<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../Css/index_link.css">
    <script type="module" src="" defer></script>
    <title>Saiba se seu cartão vazou</title>
</head>

<body>
    <section id="section">
        <div id="fundo">
            <div id="lado1">

            </div>
            <div id="lado2">

            </div>
        </div>
    </section>
</body>


<button id="traporte" onclick="window.location.href='./../../teste/teste.html'">Teste</button>

</html>